html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body.page-home {
    main {
        margin-top: auto;
        margin-bottom: auto;
    }
    &.results-visible {
        @media (max-width: 768px) {
            main {
                margin-top: 15px;
            }
        }
    }
}

main {
    margin-top: 30px;
}