include ../components/variables.pug

header
    .container
        .row    
            .col-4.branding-column
                h1#logo #{sitetitle}
            .col-8.navigation-column
                nav
                    ul  
                        li
                            a(href="index.html") Home
                        li
                            a(href="project.html") The Project
                        li
                            a(href="team.html") The Team
                        li
                            a(href="mailto:hello@nomad.expert") Contact