include ../components/variables.pug

header
    .container
        .row    
            .col-md-4.col-12.branding-column
                .h1#logo
                    a(href="/") #{sitetitle}
                button#toggle-menu
                    i.fal.fa-bars
            .col-md-8.col-12.navigation-column
                nav
                    ul  
                        li
                            a(href="index.html") <i class="fal fa-home"></i> Acasă
                        li
                            a(href="project.html") <i class="fal fa-info-circle"></i> Despre
                        li
                            a(href="team.html") <i class="fal fa-users"></i> Echipa
                        li
                            a(href="mailto:hello@nomad.expert") <i class="fal fa-envelope"></i> Contact