include ../includes/components/variables.pug
- var pagetitle = "Despre proiect"
- var pagedescription = ""
  
  include ../includes/components/head.pug
  
  body
    include ../includes/sections/header.pug
    
    main
        .container
            .row
                .col-12
                    h1 Content
  
  include ../includes/components/footer.pug