include ../includes/components/variables.pug
- var pagetitle = "Echipa"
- var bodyclass = "page-default"
  
  include ../includes/components/head.pug
  
  body(class= bodyclass)
    include ../includes/sections/header.pug
    
    main
        .container
            .row
                .col-12
                    h1 Echipa
  
  include ../includes/components/footer.pug