include variables.pug

footer
    p#copy Nomad.expert este un proiect în faza alpha. Pentru a contribui la codul sursă sau la baza de date cu informații accesează pagina
        a(href="https://github.com/cristacheda/nomad.expert/", target="_blank")  Github.

script(src='https://fa.leadgap.ro/latest/js/all.min.js', defer)
script(src='assets/js/jquery.latest.min.js')
script(src='assets/js/app.min.js')