include variables.pug

footer
    p#copy Nomad.expert este un proiect în faza alpha. Pentru a contribui la codul sursă sau la baza de date cu informații accesează pagina
        a(href="https://github.com/cristacheda/nomad.expert/", rel="noopener", target="_blank")  Github.

script(src='assets/js/jquery.latest.min.js', defer)
//- script(src='assets/js/select2.min.js', defer)
//- script(src='assets/js/select2.i18n.ro.js', defer)
script(src='assets/js/app.min.js', defer)