include variables.pug

doctype html
html(lang="ro")
    head
        if pagetitle
            title= pagetitle + " - " + sitetitle
        else
            title= sitetitle
        if pagedescription
            meta(name="description", content= pagedescription)
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-title", content= title)
        link(rel="stylesheet", href="assets/css/style.css")