$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

$light: 300;
$regular: 400;
$semi: 600;
$bold: 900;

$text-color: #333;
$links-color: royalblue;
$muted: #eee;

$buttons-main-color: royalblue;
$buttons-secondary-color: #5b2473;

$font-size-base: .9rem;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
